{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
<title>♠ Manager</title>
<link rel='stylesheet' href='/static/css/styleves.css'>
{% endblock %}

{% block body %}

<body class='container form'>
    <header id='header' class='fixed-top d-flex align-items-center'>
        <div class="container d-flex align-items-center justify-content-between">
            <div class='logo'>
                <h2><a href='/'>School Club Manager</a></h2>
            </div>
            <nav class='navbar navbar-expand-lg bg-body'>
                <div class='container-fluid'>
                    <div class='collapse navbar-collapse' id='navbarText'>
                        <ul class="nav justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                                    aria-expanded="false">My Clubs</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="/dashboard">Dashboard</a>
                                    <a class="dropdown-item" href="/clubs?mode=new">Create a club</a>
                                </ul>
                            </li>
                            <a class="nav-link" href='/clubs?mode=viewall'>View Clubs</a>
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <br><br><br><br>
    <main>
        <div class='row'>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a href='#nav-generalquestionanswers'><button class="nav-link active" id="nav-generalquestionanswers-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-generalquestionanswers" type="button"
                        style='color: rgb(59, 84, 154)'>General Questions</button></a>
                    {% if selectroletabvisibility != 'hidden' %}
                    <a href='#nav-selectrole'><button class="nav-link" id="nav-selectrole-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-selectrole" type='button' style='color: rgb(59, 84, 154);'>Select
                        Role</button></a>
                    {% endif %}
                    {% if selectedrole_str %}
                    <a href='#nav-rolespecificquestionsanswers'><button class="nav-link" id="nav-rolespecificquestionsanswers-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-rolespecificquestionsanswers" type='button'
                        style='color: rgb(59, 84, 154)'>{{ selectedrole_str }}</button></a>   
                    {% endif %} 
                </div>
                <form action='/clubs/{{ ClubId }}/applications/{{ StudentId }}?mode=save' method='POST'>
                <input type="checkbox" class="form-check-input" id='showsubmitapplication' name="SubmitApplication"
                    value="submitapplication" {{ application_state_checked }} {{ application_state }}>
                <label class="form-check-label">Submit application to the club</label>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <br>
                <div class="tab-pane fade show active" id='nav-generalquestionanswers'>
                    {% if generalquestions %}
                        <h1>General Questions</h1>
                        {{ form.hidden_tag() }}
                        {% for i in range(length_general) %}
                        <div class='mb-3'>
                            <label for='l1' class='exampleFormControlInput1'>{{ generalquestions[i] }}</label>
                            <textarea id='l1' class='form-control makerequiredgq' type='text' maxlength='{{ generalquestions_maxlengths[i] }}' minlength='1' rows='5' name='{{ generalquestions_ids[i] }}GeneralQuestionAnswers'
                                placeholder='Enter Answer' {{ application_state }}>{{ all_generalquestion_answers[i] }}</textarea>
                                
                        </div>
                        {% endfor %}
                        {% if application_state != 'disabled' %}
                        <div class='col'>
                            <input class='btn btn-primary' type='submit' value='Save Draft' id='submitapplicationbutton1'>
                        </div>
                        {% endif %}
                </div>
                {% endif %}
                <div class="tab-pane fade" id="nav-rolespecificquestionsanswers">
                    <h1>Role Specific Questions</h1>
                    {{ form.hidden_tag() }}
                    {% if SelectedRole != None %}
                    {% for i in range(length_rolespecificquestions_to_display) %}
                    <div class='mb-3'>
                        <label for='l2' class='exampleFormControlInput1'>{{ rolespecificquestions_to_display[i] }}</label>
                        <textarea id='l2' class='form-control makerequiredrsq' type='text' maxlength='{{ rolespecificquestion_maxlengths[i] }}' minlength='1' rows='5' name='{{ rolespecificquestions_ids[i] }}RoleSpecificQuestionAnswers'
                            placeholder='Enter Answer' {{ application_state }}>{{ all_rolespecificquestion_answers[i] }}</textarea>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if application_state != 'disabled' %}
                    <div class='col'>
                        <input class='btn btn-primary' type='submit' value='Save Draft' id='submitapplicationbutton2'>
                    </div>
                    {% endif %}
                </div>
            </div>
            </form>
            <div class="tab-pane fade" id="nav-selectrole">
                <div class='row'>
                    <h1>Select Role</h1>
                    <form action='/clubs/{{ ClubId }}/applications/{{ StudentId }}?mode=selectrole' method='POST'>
                        {{ form.hidden_tag() }}
                        {% if role_options_descriptions_ids %}
                        <table class='table table-borderless'>
                            <thead>
                                <tr>
                                    <th>Role</th>
                                    <th>Role Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in role_options_descriptions_ids %}
                                <tr>
                                    <td><input class='form-check-input' name="SelectRole" type="radio" value="{{ row.RoleId }}" {{ application_state }}> {{
                                        row.Role }}</td>
                                    <td>{{ row.RoleDescription }}</td> 
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if application_state != 'disabled' %}
                        <div class='col'>
                            <input class='btn btn-primary' type='submit' value='Save'>
                        </div>
                        {% endif %}
                        {% endif %}
                    </form>
                </div>
            </div>
    </main>
    <script src='/static/js/main.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>
<script>
    window.addEventListener("load", (event) => {
        const triggerEl = document.querySelector(`#nav-tab button[data-bs-target="${window.location.hash}"]`);
        const tabTrigger = new bootstrap.Tab(triggerEl)
        tabTrigger.show()
    });
</script>
{% endblock %}