{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
<title>♠ Manager</title>
<link rel='stylesheet' href='/static/css/styles.css'>
<link rel='stylesheet' href='/static/css/styleves.css'>
{% endblock %}

{% block body %}

<body id='' style='background-color: aliceblue;' class="fixed-top d-flex align-items-center">
    <header id='header' class='fixed-top d-flex align-items-center'>
        <div class="container d-flex align-items-center justify-content-between">
            <h2><a href='/'>School Club Manager</a></h2>
            <nav class='navbar navbar-expand-lg bg-body'>
                <div class='container-fluid'>
                    <div class='collapse navbar-collapse' id='navbarText'>
                        <ul class="nav justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-expanded="false">My Clubs</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="/dashboard">Dashboard</a>
                                    <a class="dropdown-item" href="/clubs?mode=new">Create a club</a>
                                </ul>
                            </li>
                            <a class="nav-link" href='/clubs?mode=viewall'>View Clubs</a>
                            {% if not truthy %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-expanded="false">Applicants</a>
                                <ul class="dropdown-menu">
                                    {% for club in userClubCatalogue %}
                                    <a class="dropdown-item" href="/clubs/{{ club.ClubId }}/applications?mode=viewall">{{ club.ClubName
                                        }}</a>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main id='main' class='main'>
        <br><br><br>
        <div class='page-title'>
            <h1>Hello, {{ name }}, View your clubs below!</h1>
        </div>
        <section class="section dashboard">
            <div class='row'>
                <div class="col-lg-8">
                    <div class='row'>
                        {% if not truthy %}
                        {% for club in userClubCatalogue %}
                        <div class="col-xxl-4 col-md-6">
                            <div class='card border-success sc' style='width: 21rem;'>
                                <div class='card-body'>
                                    <h3 class='card-title' id='cardtitle'>{{ club.ClubName }}</h3>
                                    <p class='card-text'>{{ club.ClubDescription }}</p>
                                    <a href="/clubs/{{ club.ClubId }}?mode=update"><button
                                            class='btn btn-primary'>Update</button></a>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal{{ club.ClubId }}"
                                        class='btn btn-danger'>Delete</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="exampleModal{{ club.ClubId }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Club</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete?
                                    </div>
                                    <div class="modal-footer">
                                        <form method='POST' action='/clubs/{{ club.ClubId }}?mode=delete'>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div>
                            You do not have any clubs! You can create one by hovering over my clubs.
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src='/static/js/mainves.js'></script>
</body>
{% endblock %}